In [ ]:
# Clone the entire repo.
!git clone -l -s https://github.com/deltiin/Introduction-To-Python-Programming.git cloned-repo
%cd cloned-repo
!ls

In [ ]:
from IPython.display import Image
def page(num):
    return Image("c4-content/c4PythonProgramming"+str(num)+ ".png" , width=640)

# For Loops

There are times when you may want to execute the same task several times. Rather than writing the code over and over, you can use a 'for' loop. <br>

In [ ]:
page(1)

In [ ]:
page(2)

A Python 'for' loop uses the form: <br><br>

for iterating_var in sequence: <br>
>   statements(s)

In [ ]:
for letter in 'Python':   
   print ('Current Letter :', letter)

# **Assignment #1**

Write a program to do the following: 
1. For every letter in your name, use a for loop to 
> print ("letter is ", letter)

In [ ]:
#Assignment #1

#TODO

**For loops can be used with numbers.**

In [ ]:
#for loop example
for x in range(6): 
  print(x)

# **Assignment #2**
Use a 'for' loop to print the integers from 0 - 9

In [ ]:
# **Assignment #2**

#TODO

**For loops can be assigned a range and increment value.**

In [ ]:
#Example of for loop with a range and
#increment value

#Print the every 5th integer from 10 - 50 
for x in range(10,50,5):
  print(x)

# **Assignment #3<br>**
Use a 'for' loop to print every third integer from 30 to 60, inclusive

In [ ]:
#Assignment #3

#TODO

**Debug Exercise**<br>
Fix the code below

In [ ]:
for x in range(10, 20.5, 2.5):
  print(x)

**Using the 'else' statement with a for loop.**<br>
An 'else' statement can be used with a for loop. <br>
The example below uses an else statement, but it is not a very good example. Why?

In [ ]:
for number in range(5):
  print(number)
else: 
  print("Done")

A better example of using an 'else' statement with a for loop.

In [ ]:
number_of_a = 0
number_of_others = 0
sentence = "I'm going to make him an offer he can't refuse"
for x in sentence: 
  if x== 'a': 
    number_of_a  = number_of_a  + 1
  else: 
    number_of_others = number_of_others + 1
print("there are ", number_of_a, "a's in sentence")
print("there are ", number_of_others, "other characters")

# **Assignment #4**

Modify the code to print the total number of characters in the sentence.

In [ ]:
#Assignment #4

# **Assignment #5**
1. Print the characters in this sentence:
>The rain in Spain falls mainly in the plain. 
2. Count all the letters, ignoring the blank spaces
3. Print out the number of letters in the sentence

In [ ]:
#Assignment 5

#TODO

# **Quiz**

In [ ]:
page(5)

In [ ]:
#@title Q1
variable_name = "multiples of three" #@param ["every third number in scores", "multiples of three", "nothing, there is an error in the code", "nothing, none of the scores satisfy the conditional statement"]
if(variable_name == "multiples of three"):
  print("correct")
else:
  print("Please try again")

**Debug Exercise**
Fix the code below

In [ ]:
vowel_counts = {}
count = 0

sentence = "The quick brown fox jumps over the lazy dog"
for letter in sentence:
  letter = letter.lower()
  if vowel in "aeiou":
    count = count + 1
    vowel_counts[count] = vowel
else:
  print("\n",vowel_counts)

# **Assignment #6**
1. Create a List with the following words:
>dog, cat, bunny, goat, cow, giraffe, pig, chicken
2. Count the animals in the list. 
3. If the word giraffe is in the list print "A giraffe is Not domesticated!"

In [ ]:
#Assignment #6

**The pass statement**

When an external condition is triggered, the pass statement allows you to handle the condition without the loop being impacted in any way; all of the code will continue to be read unless a break or other statement occurs.

The pass statement can act as a placeholder when working on new code and thinking on an algorithmic level before hammering out details

In [ ]:
#Example of code that uses PASS
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here
    print('Number is ' + str(number))
print('Out of loop')

In [ ]:
#example of a pass statement
for i in range(20, 30):
  pass
print("done")

In [ ]:
#example of a pass statement
sentence = "They call him the Spaniard"
count_l = 0
count_t = 0 

for letter in sentence: 
  if letter == "l":
    count_l = count_l + 1
  elif letter == "t":
    count_t = count_t + 1
  else:
    pass
print("number of ls = ", count_l)
print("number of ts = ", count_t)

**Nested For Loops**
Nested loops are useful when for each pass through the outer loop, you need to repeat some action on the data in the outer loop.

In [ ]:
n=5;
#Create i rows
for i in range(n):
    #For each row add another character 
    for j in range(i):
        print ('j ', end="")
    print('')

# **Assignment #10**
Using nested for loops, create the following shape:


bbbbbbbbbb<br>
bbbbbbbbb<br>
bbbbbbbb<br>
bbbbbbb<br>
bbbbbb<br>
bbbbb<br>
bbbb<br>
bbb<br>
bb<br>
b<br>

In [ ]:
#Assignment #10