<a href="https://colab.research.google.com/github/deltiin/Introduction-To-Python-Programming/blob/master/Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Classes
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [31]:
s = 'Hello World!'
print(type(s))
a = 10
print(type(a))
b = 3.142
print(type(b))

<class 'str'>
<class 'int'>
<class 'float'>

#Class Definition Syntax

In [ ]:
class ClassName:
  #Statement-1
  .
  .
  .
  #Statement-N

#Create a Class
Create a class named MyClass with property `x`

In [35]:
class MyClass:
  x = 12345

y = MyClass()
print(y.x)

12345

#Properties & Attributes

In [37]:
class MyClass:
  i = 2
  j = 3.142
  k = 'This is a class'

x = MyClass()
print(x.i)
print(x.j)
print(x.k)
print(x)

2
3.142
This is a class
<__main__.MyClass object at 0x7f2a45551f60>

In [58]:
class MyClass:
  i = 2
  j = 3.142
  
  def foo(self):
    print('foo')
  
x = MyClass()
x.foo()

foo

#\_\_init\_\_ Method

In [43]:
class MyClass:
  def __init__(self):
    print('Printing this statement at class initialization')
    print('Statement 2')
    for c in range(1,5):
      print(c)

x = MyClass()

Printing this statement at class initialization
Statement 2
1
2
3
4

In [47]:
class MyClass:
  def __init__(self,var1, var2):
    print('Printing this statement at class initialization')
    print('var1: ', var1)
    print('var2:', var2)

x = MyClass(3.142, 'Hello World!')

Printing this statement at class initialization
var1:  3.142
var2: Hello World!

#Class & Instance Variables

In [55]:
class Dog:
  species = 'canine' #Class variable

  def __init__(self, name):
    self.name = name # Instance variable
    #print('Name: ', name)

d1 = Dog('Goofy')
d2 = Dog('Scooby')
d3 = Dog('Tommy')
print(d1.name)
print(d1.species)
print(d2.name)
print(d2.species)
print(d3.species)

Goofy
canine
Scooby
canine
canine

#Class Example 1

In [68]:
class Person:
  species = 'homo sapien'
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def print_name(self):
    print('My name is', self.name)
  
  def print_age(self):
    print('My age is', self.age)

p1 = Person('Mark',40)
p1.print_name()
p1.print_age()

My name is Mark
My age is 40

In [71]:
class Person:
  species = 'homo sapien'
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def print_name(self):
    print('My name is', self.name)
  
  def print_age(self):
    print('My age is', self.age)

p1 = Person('Mark',40)
print(p1.name, p1.age)
p1.name = 'John'
p1.age = 25
print(p1.name, p1.age)

Mark 40
John 25

In [73]:
#Delete Object Property from p1 object
print(p1.name, p1.age)
del p1.age

John 25

In [74]:
p1.print_age()

AttributeError: ignored

#Class Example 2

In [80]:
class Complex:
  def __init__(self, realpart, imagpart):
    self.r = realpart
    self.i = imagpart

x = Complex(2.0, -1.5)
print(x.r)
print(x.i)

2.0
-1.5

In [84]:
class Complex:
  def __init__(self, realpart, imagpart):
    self.r = realpart
    self.i = imagpart
  
  def abs_value(self):
    z = (self.r**2+self.i**2)**0.5
    return z

  def print_value(self):
    print('{} + {}i'.format(self.r, self.i))

x = Complex(3.0, 4.0)
print(x.r)
print(x.i)
a = x.abs_value()
print(a)
x.print_value()
x.r = 10
x.print_value()

3.0
4.0
5.0
3.0 + 4.0i
10 + 4.0i

In [93]:
#Detailed explanation of class varaible
class Employee:
  employee_count = 0

  def __init__(self, name, salary):
    self.name = name
    self.salary = salary
    Employee.employee_count +=1
  
  def display_employee_count(self):
    print('The total employees are', Employee.employee_count)

  def display_employee(self):
    print('Employee Name: {}, Salary: {}'.format(self.name, self.salary))

e1 = Employee('John',2000)
print(e1.employee_count)
e1.display_employee()
e1.display_employee_count()
e2 = Employee('Mark', 3000)
print(e2.employee_count)
e2.display_employee()
e2.display_employee_count()

1
Employee Name: John, Salary: 2000
The total employees are 1
2
Employee Name: Mark, Salary: 3000
The total employees are 2

#Assignment 1
Write a class named `BankAccount` for storing the details of a customer.<br>
Add following class variables:
* `bank_name` = 'HDFC'

Add following instance variables:
* `name`
* `age`
* `gender`
* `account_no`
* `acount_balance`

Add following class methods:
* display account information
* deposit money
* withdraw money

In [100]:
#Assignment 1
#TO DO
class BankAccount:
  bank_name = 'HDFC'

  def __init__(self, name, age, gender, account_no, account_balance):
    self.name = name
    self.age = age
    self.gender = gender
    self.account_no = account_no
    self.account_balance = account_balance

  def display_account_info(self):
    print('Name of Account Holder:', self.name)
    print('Age:', self.age)
    print('Gender:', self.gender)
    print('Account No:', self.account_no)
    print('Account Balance:', self.account_balance)

  def deposit_money(self, amount):
    self.account_balance += amount
    print('{} amount has been deposited to the account'.format(amount))
    print('Your current balance is {}'.format(self.account_balance))

  def withdraw_money(self, amount):
    self.account_balance -= amount
    print('{} amount has been withdrawn to the account'.format(amount))
    print('Your current balance is {}'.format(self.account_balance))

a1 = BankAccount('John', 25, 'Male', 123456789, 500)
a1.display_account_info()
a1.deposit_money(100)

Name of Account Holder: John
Age: 25
Gender: Male
Account No: 123456789
Account Balance: 500
100 amount has been deposited to the account
Your current balance is 600

In [102]:
a1.withdraw_money(50)

50 amount has been withdrawn to the account
Your current balance is 550

#Built-In Class Attributes
* \_\_dict_\_ − Dictionary containing the class's namespace.

* \_\_doc_\_ − Class documentation string or none, if undefined.

In [108]:
class Complex:
  '''This a copmlex number class
  param: r: realpart
  param: i: imagpart
  '''
  c = 0
  def __init__(self, realpart, imagpart):
    self.r = realpart
    self.i = imagpart

x = Complex(2.0, -1.5)
print(x.__dict__)
x = Complex(4.0, 3.0)
print(x.__dict__)
print(x.__doc__)

{'r': 2.0, 'i': -1.5}
{'r': 4.0, 'i': 3.0}
This a copmlex number class
  param: r: realpart
  param: i: imagpart

#Inheritance
**Inheritance** allows us to define a class that inherits all the methods and properties from another class.

**Parent** class is the class being inherited from, also called base class.

**Child** class is the class that inherits from another class, also called derived class.

Create a Parent Class

In [110]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

p1 = Person('Johnny', 'Depp')
p1.printname()

Johnny Depp

Create a Child Class

In [120]:
class Student(Person):
  pass

In [121]:
x = Student('Johnny', 'Depp')
x.__dict__
# x.printname()

{'firstname': 'Johnny', 'lastname': 'Depp'}

Add the \_\_init\_\_() Function

When you add the \_\_init\_\_() function, the child class will no longer inherit the parent's \_\_init\_\_() function.

In [123]:
class Student(Person):
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

x = Student('Johnny', 'Depp')
x.__dict__
x.printname()

Johnny Depp

#Use the super() Function
Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

In [124]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student('Tony', 'Stark')
x.printname()

Tony Stark

#Add Properties

In [126]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.rollno = 45

x = Student('Tony', 'Stark')
x.__dict__

{'firstname': 'Tony', 'lastname': 'Stark', 'rollno': 45}

#Add Methods

In [130]:
class Student(Person):
  def __init__(self, fname, lname, rno):
    super().__init__(fname, lname)
    self.rollno = rno
  
  def print_info(self):
    print('First Name',self.firstname)
    print('Last Name',self.lastname)
    print('Roll No',self.rollno)

x = Student('Tony', 'Stark', 65)
print(x.__dict__)
x.print_info()

{'firstname': 'Tony', 'lastname': 'Stark', 'rollno': 65}
First Name Tony
Last Name Stark
Roll No 65