<a href="https://colab.research.google.com/github/deltiin/Introduction-To-Python-Programming/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
print(pd.__version__)

1.1.5

In [7]:
data = {
    'company': ['Apple','Google','Tesla'],
    'year': [1980, 2000, 2007]
}

pvar = pd.DataFrame(data)

print(pvar)

  company  year
0   Apple  1980
1  Google  2000
2   Tesla  2007

In [11]:
a = ['Name', 'Google', 'Tesla']

pvar = pd.Series(a)

print(pvar[2])

Tesla

In [13]:
n = [4, 26, 87]

pvar = pd.Series(n, index = ['a', 'b', 'c'])

print(pvar['a'])

4

In [15]:
data = {
    'Google': 2000, 'Apple': 1980, 'Tesla': 2007
}
pvar = pd.Series(data)

print(pvar['Google'])

2000

In [22]:
data  = {
    'Name': ['John', 'Peter', 'Steven'],
    'Year of Birth': [2000, 2004, 1996],
    'Gender': ['M', 'M', 'M']
}

pvar = pd.DataFrame(data)
# print(pvar)
print(pvar.loc[[0,1]])

    Name  Year of Birth Gender
0   John           2000      M
1  Peter           2004      M

In [23]:
df = pd.read_csv('./sample_data/mnist_train_small.csv')

In [25]:
print(df)
print(type(df))

       6  0  0.1  0.2  0.3  0.4  ...  0.585  0.586  0.587  0.588  0.589  0.590
0      5  0    0    0    0    0  ...      0      0      0      0      0      0
1      7  0    0    0    0    0  ...      0      0      0      0      0      0
2      9  0    0    0    0    0  ...      0      0      0      0      0      0
3      5  0    0    0    0    0  ...      0      0      0      0      0      0
4      2  0    0    0    0    0  ...      0      0      0      0      0      0
...   .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
19994  0  0    0    0    0    0  ...      0      0      0      0      0      0
19995  1  0    0    0    0    0  ...      0      0      0      0      0      0
19996  2  0    0    0    0    0  ...      0      0      0      0      0      0
19997  9  0    0    0    0    0  ...      0      0      0      0      0      0
19998  5  0    0    0    0    0  ...      0      0      0      0      0      0

[19999 rows x 785 columns]
<class 'pandas.core.frame.DataFrame'>

In [28]:
df = pd.read_json('./sample_data/anscombe.json')

In [33]:
# print(df)
# print(type(df))
print(df.head(10))

  Series   X      Y
0      I  10   8.04
1      I   8   6.95
2      I  13   7.58
3      I   9   8.81
4      I  11   8.33
5      I  14   9.96
6      I   6   7.24
7      I   4   4.26
8      I  12  10.84
9      I   7   4.81

In [36]:
df.tail(10)

   Series   X      Y
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Series  44 non-null     object
 1   X       44 non-null     int64
 2   Y       44 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ KB

In [38]:
!wget https://www.w3schools.com/python/dirtydata.csv

--2021-01-06 04:24:23--  https://www.w3schools.com/python/dirtydata.csv
Resolving www.w3schools.com (www.w3schools.com)... 192.229.179.87
Connecting to www.w3schools.com (www.w3schools.com)|192.229.179.87|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 997 [application/octet-stream]
Saving to: ‘dirtydata.csv’

dirtydata.csv       100%[===================>]     997  --.-KB/s    in 0s

2021-01-06 04:24:24 (54.3 MB/s) - ‘dirtydata.csv’ saved [997/997]

In [44]:
df = pd.read_csv('./dirtydata.csv')
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [42]:
new_df = df.dropna()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [43]:
new_df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0